<mat-sidenav-container class="layout-container">
  <mat-sidenav 
    #sidenav
    [mode]="(layoutService.isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(layoutService.isHandset$ | async)"
    [fixedInViewport]="true"
    [class.collapsed]="layoutService.sidebarCollapsed()"
    class="sidenav">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <app-topbar></app-topbar>
    <main class="main-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
